<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="/node_modules/jquery/dist/jquery.min.js" defer></script>
</head>
<body>

<div th:replace="~{layouts/nav :: nav}"></div>

<div th:replace="~{layouts/header :: header(title='로그인')}"></div>


<!-- Content -->
<section class="container w-50">
    <div class=" mt-5 ">
        <form action="/login" method="post">
            <div class="mb-3">
                <label for="inputUsername" class="form-label">아이디</label>
                <input type="text" class="form-control" id="inputUsername" name="username" >
                <div id="emailHelp" class="form-text">회원가입때 사용한 아이디를 입력해주세요.</div>
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">비밀번호</label>
                <input type="password" class="form-control" id="inputPassword" name="password">
            </div>
            <div class="d-flex justify-content-end gap-2">
                <a href="/signUp" class="btn btn-outline-success">회원가입페이지로</a>
                <button type="submit" class="btn btn-primary">로그인</button>
            </div>

        </form>
    </div>
</section>


</body>
</html>