<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="/node_modules/jquery/dist/jquery.min.js" defer></script>
</head>
<body>

<div th:replace="~{layouts/nav :: nav}"></div>


<!-- Content -->
<section th:object="${article}" class="container">
    <div class="mt-5 d-flex justify-content-center flex-column  ">
        <div class="shadow border-opacity-25 rounded p-5 d-flex justify-content-between">
            <div>
                <div class="mt-2">
                    <h2 class="text-break">제목</h2>
                    <p class="text-break" th:text="*{title}"></p>
                </div>
                <div class="mt-4">
                    <h2>내용</h2>
                    <div th:utext="*{content}"></div>
                </div>
            </div>
            <div class="d-flex gap-2">
                <p>작성자</p>
                <span th:text="*{account.username}"></span>
            </div>
        </div>

        <div class="d-flex justify-content-between gap-2 mt-2 ">
            <div>
                <a th:href="@{/articles}" class="btn btn-outline-primary">목록으로</a>
            </div>
            <div>
                <a class="btn btn-outline-secondary"
                   th:if="${isOwner}"
                   th:href="@{/articles/edit/{id}(id = *{id})}">수정</a>
                <a class="btn btn-outline-danger"
                   th:if="${isOwner}"
                   th:href="@{/articles/delete/{id}(id = *{id})}">삭제</a>
            </div>
        </div>

    </div>
</section>


</body>
</html>